.header-container {
    background-color: rgb(30,75,121);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 1.5rem;
    gap: 1rem;

    img {
        width: 8rem;
    }

    h1 {
        font-size: 20px;
        color: white;
    }
}