.login {
    background: rgb(43,115,186);
    background: radial-gradient(circle, rgba(43,115,186,1) 0%, rgba(29,72,114,1) 100%);
    height: 100vh;
    display: flex;
}

.login-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 55vw;
    height: 100%;
    background-color: white;
}

.login-left img {
    width: 500px;
}

.login-right {

    width: 45vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    form {
        color: white;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
    }

}

.img-logo img {
    width: 200px;
}

.formulario-login {

    input {
        width: 400px;
        height: 65px;
        border-radius: 7px;
        border: none;
        outline: none;
        padding-left: 25px;
        margin-bottom: 25px;
        font-size: 18px;
    }
    
    button {
        width: 400px;
        height: 55px;
        font-size: 18px;
        border-radius: 7px;
        border: none;
        cursor: pointer;
        background-color: white;
    }

    .email-login, .email-senha {
        padding-bottom: 10px;
    }

    .esqueceu-senha {
        text-align: end;
        color: white;
        padding-top: 10px;
    }

    .criar-conta {
        text-align: center;
        color: white;
        margin-top: 100px;

        a {
            color: rgb(63, 181, 255);
        }
    }

}